.login {
 display: grid;
 place-items: center;
 height: 100vh;
 width: 100%;
 background-color: rgb(255, 236, 235);
}

.login>div>img {
 margin-left: 3rem;
 object-fit: contain;
 height: 170px;
}

.login>button {
 width: 200px;
 background-color: #3ea4fb;
 color: #eff2f5;
 font-weight: 800;
}

.login>button:hover {
 background-color: rgb(240, 223, 223);
 color: #3ea4fb;
 border: 2px solid #3ea4fb;
}